extends layout

block content
    a(href="/") Home
    table
        thead
            tr
                th.firstname first
                th.lastname last
                th.email email
                //- th.phone phone
                //- th.idnumber ID
                //- th.age age
                //- th.education schooling
                th.comments hobbies
        tbody
            each entry in data
                tr
                    td.firstname= entry.firstname
                    td.lastname= entry.lastname
                    td.email= entry.email
                    //- td.phone= entry.phone
                    //- td.idnumber= entry.idnumber
                    //- td.age= entry.age
                    //- td.education= entry.education
                    td.comments= entry.comments