doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/autoprefixed.css')
    link(rel='stylesheet', href='/stylesheets/tables.css')
    link(rel='stylesheet', href='/stylesheets/forms.css')
  body
    block content
