doctype html
html
  head
    title= title
    //- base(href="/simpleSurveyV2")
    base(href="/simple-survey-v2")


    //- link(rel='stylesheet', href='/stylesheets/autoprefixed.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap")
    //- link(rel='stylesheet', href='%PUBLIC_URL%/simpleSurveyV2/stylesheets/surveytwo.css')
    //- link(rel='stylesheet', href='%PUBLIC_URL%/simpleSurveyV2/stylesheets/tables.css')
    //- link(rel='stylesheet', href='%PUBLIC_URL%/simpleSurveyV2/stylesheets/forms.css')

    //- link(rel='stylesheet', href='https://wmcooper2.com/simpleSurvey2/public/stylesheets/surveytwo.css')
    //- link(rel='stylesheet', href='https://wmcooper2.com/simpleSurvey2/public/stylesheets/tables.css')
    //- link(rel='stylesheet', href='https://wmcooper2.com/simpleSurvey2/public/stylesheets/forms.css')

    //- link(rel='stylesheet', href='./public/stylesheets/surveytwo.css')
    //- link(rel='stylesheet', href='./public/stylesheets/tables.css')
    //- link(rel='stylesheet', href='./public/stylesheets/forms.css')

    //- link(rel='stylesheet', href='public/stylesheets/surveytwo.css')
    //- link(rel='stylesheet', href='public/stylesheets/tables.css')
    //- link(rel='stylesheet', href='public/stylesheets/forms.css')

    //- link(rel='stylesheet', href='simpleSurveyV2/public/stylesheets/surveytwo.css')
    //- link(rel='stylesheet', href='simpleSurveyV2/public/stylesheets/tables.css')
    //- link(rel='stylesheet', href='simpleSurveyV2/public/stylesheets/forms.css')

    //- link(rel='stylesheet', href='simpleSurveyV2/surveytwo.css')
    //- link(rel='stylesheet', href='simpleSurveyV2/tables.css')
    //- link(rel='stylesheet', href='simpleSurveyV2/forms.css')

    //- link(rel='stylesheet', href='surveytwo.css')
    //- link(rel='stylesheet', href='tables.css')
    //- link(rel='stylesheet', href='forms.css')

    
    link(rel='stylesheet', href='simple-survey-v2/public/stylesheets/surveytwo.css')
    link(rel='stylesheet', href='simple-survey-v2/public/stylesheets/tables.css')
    link(rel='stylesheet', href='simple-survey-v2/public/stylesheets/forms.css')



  body
    block content
