@media (max-width: 600px) {
  body {
    padding: 1rem;
    margin: 1rem;
  }

  input {
    margin-left: auto;
    margin-right: auto;
  }

  div.formgroup {
    display: flex;
    flex-direction: column;
  }

  div.formgroupfields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 90%;
    padding-left: 0;
  }

  div.formgroupfields div {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  div.formgroupfields div input {
    margin-left: 0;
  }

  div.formgroup label {
    width: 90%;
  }

  div.cats {
    display: flex;
    align-content: stretch;
  }

  div.formgroupfields textarea {
    width: 90%;
  }

  table {
    margin-top: 2rem;
  }

  table tr {
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: flex-start; */
    padding: 0;
  }

  .email,
  .phone,
  .education,
  .lastname,
  .idnumber,
  .age {
    display: none;
    /* visibility: collapse; */
  }
}
