* {
  border-radius: 10px;
  padding: 3px;
  display: flex;
}

body {
  position: relative;
  padding: 2% 5%;
  margin: auto;
  background: hsl(228, 76%, 80%);
  display: flex;
  flex-direction: column;
  min-width: 100px;
  max-width: 800px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: hsl(182, 30%, 85%);
}

textarea{
  position: relative;
  padding: 10px;
  width: 100%;
  border: none;
}

textarea::placeholder {
  padding-top: 55px;
}

label {
  position: relative;
  background-color: hsl(348, 40%, 95%);
  font-size: 16px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

input, select{
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: hsl(0, 100%, 100%);
}

input[type=radio], input[type=checkbox]{
  position: relative;
  padding-top: 3px;
  width: 20px;
  height: 20px;
}

span {
  position: relative;
  padding-left: 10px;
  vertical-align: center;
  font-weight: 200;
}

input:hover {
    box-shadow: 0px 0px 3px 3px rgba(255,249,179,1);
}

select:hover {
    box-shadow: 0px 0px 3px 3px rgba(255,249,179,1);
}

textarea:hover {
    box-shadow: 0px 0px 3px 3px rgba(255,249,179,1);
}

#title{
  text-align: center;
  background-color: hsl(182, 30%, 85%);
  margin: 10px auto;
}

#description{
  text-align: center;
  margin: auto;
}

.question {
  background: hsl(162, 50%, 80%);
  padding: 10px;
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
}

.radioquestion, .checkboxquestion {
  padding: 10px;
  background-color: hsl(0, 100%, 100%);
  position: relative;
  display: grid;
  grid-template-columns: 1fr  19fr;
  grid-template-rows: repeat(3, 1fr)
  justify-items: center;
  align-items: center;
}

#submitdiv {
  display: flex;
  background-color: hsl(182, 30%, 85%);
  flex-direction: row;
  justify-content: center;
}

#submit {
  background-color: hsl(348, 40%, 95%);
  border: none;
}
