* {
  --form-edge-color: rgba(221, 226, 237, 1);
  border-radius: 2px;
  padding: 1rem;
  /* display: flex; */
}

body {
  /* position: relative; */
  /* padding: 2% 5%; */
  /* margin: auto; */
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 210mm;
  background-color: white;
  border: 1px solid var(--form-edge-color);
  box-shadow: 2px 2px 2px 2px var(--form-edge-color);
}

/* textarea { */
/* position: relative; */
/* padding: 10px; */
/* width: 100%; */
/* border: none; */
/* } */

input {
  padding: 10px;
  border-radius: 2px;
  border: none;
  background-color: hsl(0, 100%, 100%);
}

input {
  width: 30%;
}

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  padding-top: 3px;
  width: 20px;
  height: 20px;
}

input:hover {
  box-shadow: 0px 0px 1px 1px rgba(134, 148, 182, 1);
}

li {
  list-style-type: none;
}

label {
  position: relative;
  background-color: hsl(348, 40%, 95%);
  font-size: 16px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

span {
  position: relative;
  padding-left: 10px;
  vertical-align: center;
  font-weight: 200;
}

:required:hover {
  /* background-color: red; */
  box-shadow: 0px 0px 1px 1px red;
}

.formgroup {
  display: flex;
  justify-content: space-around;
}

#title {
  text-align: center;
  background-color: hsl(182, 30%, 85%);
  margin: 10px auto;
}

#description {
  text-align: center;
  margin: auto;
}

#submit {
  background-color: hsl(348, 40%, 95%);
  border: none;
}
