table {
  margin-top: 1rem;
  padding: 0;
  text-align: left;
  word-break: break-all;
  border: 2px solid var(--form-edge-color);
  box-shadow: 2px 2px 2px 2px var(--form-edge-color);
}

tbody {
  padding: 0;
}

tr {
  padding: 0;
}

th {
  font-family: var(--blocky-font);
  font-size: 2rem;
}

.email {
  width: 30%;
}

.phone {
  width: 20%;
}
