table {
  /* max-width: 210mm; */
  margin-top: 1rem;
  padding: 0;
  text-align: left;
  word-break: break-all;
  /* word-wrap: break-word; */
}

tbody {
  padding: 0;
}

tr {
  padding: 0;
}

.email,
.phone {
  width: 20%;
}
